# Скопируйте в .env (файл .env в git не попадает)
GROQ_API_KEY = "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"
SERPAPI_API_KEY = "cffce38be7c62cd6331c03a1a2f710c6a048020c3cc9aa3d5471a44939635040"
OPENAI_API_KEY = ""
